@charset "utf-8";
/* CSS Document */

.contents .static-contents.sub4_2_2{
	/*margin: 30px 0px 0px 25px;*/
	margin: 0 auto;
	width: 675px;
}

.contents .static-contents.sub4_2_2 li {
	letter-spacing: -1px;
	font-size: 12px;
	margin-bottom: 5px;
}

.doctor-list.sub4_2_2 ol li {
	display: block;
	height: 130px;
	margin: 0px;
	padding: 20px 0px 15px 20px;
	border-top: 1px solid #ccc;
	width: 650px;
}

.doctor-list.sub4_2_2 ol li img {
	float: left;
}

.doctor-list.sub4_2_2 ol li dl {
	display: inline-block;
	font-size: 14px;
	margin-left: 30px;
	width: 500px;
}

.doctor-list.sub4_2_2 ol li dl dt {
	float: left;		/**/
	margin-right: 5px;
	font-weight: bold;
}

.board-search table tr td dl dt.long, .doctor-list.sub4_2_2 ol li dl dt.long {
	display: block;
	clear: both;
	margin-top: 20px;
	margin-bottom: 5px;
}

.doctor-list.sub4_2_2 ol li dl dt.long+dd {
	clear: both;
	margin-left: 0px;
}

.doctor-list.sub4_2_2 ol li dl dd{ 
	margin-bottom: 5px;
}