<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration 
    xmlns:log4j="http://jakarta.apache.org/log4j/" 
    debug="false">
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>   
    </appender>
	<appender name="filelog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/logs/jglovis/filelog.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>
    </appender>
  <!--   log SQL with timing information, post execution -->
    
    <logger name="com.ibatis">
    	<level value="DEBUG"/>
	    	<appender-ref ref="filelog"/>
	    	<appender-ref ref="console" />
    </logger>
	
	<category name="org.apache.struts2">
		<priority value="WARN"/>
	</category>
	
	<category name="com.opensymphony.xwork2">
		<priority value="FATAL"/>
	</category>
	
	<category name="freemarker.beans">
		<priority value="FATAL"/>
	</category>
	
	<category name="freemarker.cache">
		<priority value="FATAL"/>
	</category>
	
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="console" />
        <appender-ref ref="filelog"/>
    </root> 
	                   
</log4j:configuration>
